$font-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-title: 'Tahoma', sans-serif;

$border-radius: 10px;
$shadow: 0 3px 8px rgba(0,0,0,0.3);

$breakpoint-movil: 576px;
$breakpoint-desktop: 768px;
